name: Ansible Deployment (Ubuntu Runner)

on:
  workflow_dispatch:
    inputs:
      nginx_ip:
        description: "Public IP of nginx EC2"
        required: true
      
      app_ip:
        description: "Private IP of app EC2"
        required: true
     

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python (for Ansible)
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    name: Ansible Deployment (Ubuntu Runner)

on:
  workflow_dispatch:
    inputs:
      nginx_ip:
        description: "Public IP of nginx EC2"
        required: true
      
      app_ip:
        description: "Private IP of app EC2"
        required: true
     

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python (for Ansible)
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Check Ansible Installed
      run: ansible --version
           python -m pip install --upgrade pip
           sudo yum update && sudo yum install -y jq

    - name: Generate Ansible Inventory
      run: |
        mkdir -p ansible
        cd ansible
        echo "[nginx]" > inventory.ini
        echo "${{ github.event.inputs.nginx_ip1 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini
        
        echo "" >> inventory.ini
        echo "[app]" >> inventory.ini
        echo "${{ github.event.inputs.app_ip }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini

    - name: Generate Ansible Inventory
      working-directory: ansible
      env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
      run: |
          echo "[app]" > inventory.ini
          echo "$APP_IP" | jq -r '.[] | . + " ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem"' >> ansible/inventory.ini

          echo "" >> inventory.ini
          echo "[nginx]" >> inventory.ini
          echo "$NGINX_IP" | jq -r '.[] | . + " ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem"' >> ansible/inventory.ini

    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.KEY_NAME }}" > ~/.ssh/ec2.pem
        chmod 400 ~/.ssh/ec2.pem

    - name: Test SSH Connectivity
      run: |
        cd ansible
        ansible nginx -i ansible/inventory.ini -m ping
        ansible app -i ansible/inventory.ini -m ping
        ansible Grace-postgres -i ansible/inventory.ini -m ping

    - name: Run Ansible Playbook
      run: |
        cd ansible

        ansible-playbook -i ansible/inventory.ini playbooks/site.yml
        
    # - name: Generate Ansible Inventory
    #   run: |
    #     mkdir -p ansible
    #     cd ansible
    #     echo "[nginx]" > inventory.ini
    #     echo "${{ github.event.inputs.nginx_ip1 }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini
        
    #     echo "" >> inventory.ini
    #     echo "[app]" >> inventory.ini
    #     echo "${{ github.event.inputs.app_ip }} ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem" >> inventory.ini

    - name: Generate Ansible Inventory
        env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
      run: |
            # Create app group
              echo "[app]" > inventory.ini
              echo "$APP_IP" | jq -r '.[] | . + " ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem"' >> inventory.ini

              echo "" >> inventory.ini

            # Create nginx group
              echo "[nginx]" >> inventory.ini
              echo "$NGINX_IP" | jq -r '.[] | . + " ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem"' >> inventory.ini

              echo "" >> inventory.ini

            # Create postgres group
              echo "[postgres]" >> inventory.ini
              echo "$POSTGRES_IP" | jq -r '.[] | . + " ansible_user=ec2-user ansible_ssh_private_key_file=~/.ssh/ec2.pem"' >> inventory.ini

    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.KEY_NAME }}" > ~/.ssh/ec2.pem
        chmod 400 ~/.ssh/ec2.pem

    - name: Test SSH Connectivity
      run: |
        cd ansible
        ansible nginx -i ansible/inventory.ini -m ping
        ansible app -i ansibleinventory.ini -m ping

    - name: Run Ansible Playbook
      run: |
        cd ansible
        ansible-playbook -i ansible/inventory.ini playbooks/site.yml